---
---
<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8"/>
    <title>BibBot – Mit Bibliothekszugang durch die Paywall</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/mvp.css">
    <link rel="icon" href="icons/bibbot.svg">

    <!-- Primary Meta Tags -->
    <meta name="title" content="BibBot – Mit Bibliothekszugang durch die Paywall">
    <meta name="description" content="Dieses Add-On ersetzt bei Artikeln deutscher Medienseiten die Paywalls mit dem Artikeltext.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://stefanw.github.io/bibbot/">
    <meta property="og:title" content="BibBot – Mit Bibliothekszugang durch die Paywall">
    <meta property="og:description" content="Dieses Add-On ersetzt bei Artikeln deutscher Medienseiten die Paywalls mit dem Artikeltext.">
    <meta property="og:image" content="https://stefanw.github.io/bibbot/assets/social.png">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://stefanw.github.io/bibbot/">
    <meta property="twitter:title" content="BibBot – Mit Bibliothekszugang durch die Paywall">
    <meta property="twitter:description" content="Dieses Add-On ersetzt bei Artikeln deutscher Medienseiten die Paywalls mit dem Artikeltext.">
    <meta property="twitter:image" content="https://stefanw.github.io/bibbot/assets/social.png">

  </head>
  <body>
    <header>
      <h1>
        <img src="icons/bibbot.svg" alt="Schematischer Roboter" class="logo"/>
        BibBot
      </h1>
      <p>
        Browser-Erweiterung, um Premiumangebote deutscher Nachrichtenseiten über Ihren Bibliothekszugang zu nutzen.
      </p>
      <!--
      {% assign release = site.github.releases | first %}
      {% assign short_version = release.tag_name | remove_first:'v' %}
      -->
      <p>
        <a href="https://chrome.google.com/webstore/detail/bibbot/edafomjglmkfbiieocpflnhfdmikkhbo?hl=de">
          <b>Download für Chrome</b>
        </a>
        <a href="https://addons.mozilla.org/en-US/firefox/addon/bibbot/">
          <b>Download für Firefox</b>
        </a>
        <a href="#safari">
          <b>Download für Safari</b>
        </a>
      </p>
    </header>
    <main>
      <section>
        <div>
          <p>
            Für die Nutzung des Add-Ons benötigen Sie ein Benutzerkonto bei einer Bibliothek mit Zugang zu einer digitalen Pressedatenbank. Das haben viele Bibliotheken als Teil ihres digitalen Angebots.
          </p>
          <p>
            Ein Bibliothekskonto kostet meistens nicht mehr als 10&nbsp;Euro im Jahr – das ist <i>wesentlich günstiger</i> als jedes einzelne Abo bei einer Nachrichtenseite und dafür bekommen Sie Zugang zu den Texten einer Vielzahl von Nachrichtenseiten + viele weitere digitale Medien.
          </p>
          <details id="how">
            <summary>So funktioniert das Add-On</summary>
            <p>Wenn die Extension einen Artikel mit Paywall auf einer der unterstützten Nachrichtenseiten findet, dann:</p>
            <ol>
              <li>Öffnet sich im Hintergrund ein neues Tab, wo sich falls nötig bei Ihrer Bibliothek eingeloggt wird</li>
              <li>In der Pressedatenbank wird automatisch im Hintergrund der Artikel gesucht</li>
              <li>Wird der Artikel in der Pressedatenbank gefunden, dann wird der Artikeltext in das Layout der Nachrichtenseite eingesetzt.</li>
            </ol>
            <p>Der Vorgang dauert im Regelfall wenige Sekunden.</p>
          </details>
          <details id="failure">
            <summary>Das kann schief gehen</summary>
            <p>Es kann passieren, dass BibBot den Artikel nicht findet. Folgende Gründe sind möglich:</p>
            <ul>
              <li>
                ggf. ist der Artikel online-exklusiv und nicht über die Pressedatenbank verfügbar
              </li>
              <li>
                Der Titel des Online-Artikels kann sich von der Druckausgabe unterscheiden, das macht das Auffinden schwierig. <br/>&rarr; Nutzen Sie das neue Tab am Ende Ihrer Tableiste um selbst nach Stichworten zum Artikel zu suchen.
              </li>
              <li>
                Artikel aus der gedruckten Ausgabe sind ggf. erst später in der Pressedatenbank verfügbar. <br/>&rarr; Da müssen Sie leider Geduld haben.
              </li>
            </ul>
            <p>Außerdem kann es sein, dass Ihre gewünschte Nachrichtenseite noch nicht unterstützt wird. Eine Liste der unterstützten Seiten finden Sie im weiter untent.</p>
          </details>
          <details>
            <summary>Aktuell unterstützte Bibliotheksseiten</summary>
            <ul id="providers"></ul>
            <p>
              Fehlt Ihre Bibliothek mit Digitalangebot? Dann können Sie auf der <a href="https://github.com/stefanw/bibbot/issues/new?assignees=&labels=&template=neue-bibliothek.md&title=">Entwicklungsplattform GitHub einen Vorschlag machen.</a>
            </p>
          </details>          
          <details id="supported">
            <summary>Aktuell unterstützte Nachrichtenseiten</summary>
            <ul id="newssites"></ul>
            <p>
              Fehlt Ihnen eine Seite? Dann können Sie auf der <a href="https://github.com/stefanw/bibbot/issues/new?assignees=&labels=&template=neue-nachrichtenseite.md&title=">Entwicklungsplattform GitHub einen Vorschlag machen.</a>
            </p>
          </details>
          <details id="safari">
            <summary>Erweiterung für Safari</summary>
            <div style="display: none">
            {% assign latest_safari = false %}
            {% for release in site.github.releases %}
              {% for asset in release.assets %}
                {% if asset.name == "BibBot-Safari-macOS.zip" %}
                  {% assign latest_safari = asset.browser_download_url %}
                  {% break %}
                {% endif %}
              {% endfor %}
              {% if latest_safari != false %}
                {% break %}
              {% endif %}
            {% endfor %}
            </div>
            <a href="{{ latest_safari }}">
              <b>Download der Safari-Erweiterung</b>
            </a>
            <p>
              Um die Safari-Version zu nutzen:
              <ol>
                <li>Safari öffnen</li>
                <li>Entwickler-Menü aktivieren: „Safari“ > „Einstellungen“, klicke auf „Erweitert“ und wähle dann „Menü ,Entwickler’ in der Menüleiste anzeigen“ (<a href="https://support.apple.com/de-de/guide/safari/sfri20948/mac">Siehe Safari-Benutzerhandbuch</a>)</li>
                <li>Im Entwickler-Menü in der Menüleiste: ganz unten Haken setzen bei "Erlaube Unsignierte Erweiterungen"</li>
                <li>Heruntergeladenes ZIP-Archiv entpacken, App öffnen und Sicherheitshinweis bestätigen</li>
                <li>Unter „Safari“ > „Einstellungen“ unter „Erweiterungen“ dem BibBot per Haken aktivieren</li>
                <li>BibBot über die BibBot-Einstellungsseite konfigurieren</li>
              </ol>
            </p>
          </details>
        </div>
      </section>
    </main>
    <footer>
      <hr>
      <p>
        <small>
          <a href="https://stefanwehrmeyer.com/">Stefan Wehrmeyer</a> –
          <a href="https://github.com/stefanw/bibbot/issues">Feedback / Bugs</a> –
          <a href="https://stefanwehrmeyer.com/impressum/">Impressum</a> –
          <a href="./privacy.html">Datenschutzerklärung</a>
        </small>
      </p>
    </footer>
    <script>
      function openDetailsOnLink() {
        var selectedDetails = document.querySelector('details:target')
        if (selectedDetails) {
          selectedDetails.setAttribute('open', true)
        }
      }
      window.setTimeout(openDetailsOnLink, 100)
      addEventListener("hashchange", openDetailsOnLink);
      fetch('manifest.json').then(response => response.json()).then(data => {
        var domains = data.content_scripts[0].matches.map(url => url.replace('https://', '').replace('/*', ''))
        var ul = document.getElementById('newssites')
        domains.forEach(domain => {
          var li = document.createElement('li')
          li.innerText = domain
          ul.appendChild(li)
        });
      });
      // Harhar, horrible hack ahead to extract providers out of source code!
      fetch('src/providers.ts').then(response => response.text()).then(data => {
        const nameWeb = new RegExp(/name: '([^']+)',\s*web: '([^']+)',/g)
        var ul = document.getElementById('providers')
        for (const match of data.matchAll(nameWeb)) {
          console.log(match)
          var li = document.createElement('li')
          var a = document.createElement('a')
          a.href = match[2]
          a.innerText = match[1]
          li.appendChild(a)
          ul.appendChild(li)
        }
      })
    </script>
  </body>
</html>
